<a href="https://colab.research.google.com/github/vithika-karan/Zomato-Restaurant-Clustering-and-Sentiment-Analysis/blob/main/Zomato_Restaurant_Clustering_and_Sentiment_Analysis_Vithika_Karan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problem Statement**

Zomato is an Indian restaurant aggregator and food delivery start-up founded by Deepinder Goyal and Pankaj Chaddah in 2008. Zomato provides information, menus and user-reviews of restaurants, and also has food delivery options from partner restaurants in select cities.

India is quite famous for its diverse multi cuisine available in a large number of restaurants and hotel resorts, which is reminiscent of unity in diversity. Restaurant business in India is always evolving. More Indians are warming up to the idea of eating restaurant food whether by dining outside or getting food delivered. The growing number of restaurants in every state of India has been a motivation to inspect the data to get some insights, interesting facts and figures about the Indian food industry in each city. So, this project focuses on analysing the Zomato restaurant data for each city in India.

The Project focuses on Customers and Company, you have to analyze the sentiments of the reviews given by the customer in the data and made some useful conclusion in the form of Visualizations. Also, cluster the zomato restaurants into different segments. The data is vizualized as it becomes easy to analyse data at instant. The Analysis also solves some of the business cases that can directly help the customers finding the Best restaurant in their locality and for the company to grow up and work on the fields they are currently lagging in.

This could help in clustering the restaurants into segments. Also the data has valuable information around cuisine and costing which can be used in cost vs. benefit analysis

Data could be used for sentiment analysis. Also the metadata of reviewers can be used for identifying the critics in the industry.

# **Attribute Information**

## **Zomato Restaurant names and Metadata**
Use this dataset for clustering part

1. Name : Name of Restaurants

2. Links : URL Links of Restaurants

3. Cost : Per person estimated Cost of dining

4. Collection : Tagging of Restaurants w.r.t. Zomato categories

5. Cuisines : Cuisines served by Restaurants

6. Timings : Restaurant Timings

## **Zomato Restaurant reviews**
Merge this dataset with Names and Matadata and then use for sentiment analysis part

1. Restaurant : Name of the Restaurant

2. Reviewer : Name of the Reviewer

3. Review : Review Text

4. Rating : Rating Provided by Reviewer

5. MetaData : Reviewer Metadata - No. of Reviews and followers

6. Time: Date and Time of Review

7. Pictures : No. of pictures posted with review

###**Notebook Breakdown:**
* Business Problem Analysis
* Data Collection
* Data Cleaning and Preprocessing
* Feature Engineering
* Exploratory Data Analysis
    
    - Hypotheses Generation
    - Visualizing Data
    - EDA Conclusion and Validation 
    - Hypoheses Generation for Cluster Analysis
* Restaurant Clustering
  - Best restaurants in different cities
* Sentiment Analysis

###**Business Problem Analysis**

###**Data Collection**

In [270]:
#Importing important libraries and modules
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.rcParams.update({'figure.figsize':(8,5),'figure.dpi':100})
from datetime import datetime

import warnings    
warnings.filterwarnings('ignore')

In [271]:
#mounting drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [272]:
#reading datasets
rest_df = pd.read_csv("/content/drive/MyDrive/ALMABETTER/CAPSTONE PROJECTS/Zomato Restaurant Clustering and Sentiment Analysis - Vithika Karan /Data & Resources/Zomato Restaurant names and Metadata.csv")
reviews_df = pd.read_csv("/content/drive/MyDrive/ALMABETTER/CAPSTONE PROJECTS/Zomato Restaurant Clustering and Sentiment Analysis - Vithika Karan /Data & Resources/Zomato Restaurant reviews.csv")

In [273]:
# first five rows of restaurants dataset
rest_df.head()

                             Name  ...                                            Timings
0                 Beyond Flavours  ...      12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)
1                        Paradise  ...                                     11 AM to 11 PM
2                        Flechazo  ...              11:30 AM to 4:30 PM, 6:30 PM to 11 PM
3  Shah Ghouse Hotel & Restaurant  ...                                    12 Noon to 2 AM
4      Over The Moon Brew Company  ...  12noon to 11pm (Mon, Tue, Wed, Thu, Sun), 12no...

[5 rows x 6 columns]

In [274]:
#first five rows of reviews dataset
reviews_df.head()

        Restaurant              Reviewer  ...             Time Pictures
0  Beyond Flavours     Rusha Chakraborty  ...  5/25/2019 15:54        0
1  Beyond Flavours  Anusha Tirumalaneedi  ...  5/25/2019 14:20        0
2  Beyond Flavours       Ashok Shekhawat  ...  5/24/2019 22:54        0
3  Beyond Flavours        Swapnil Sarkar  ...  5/24/2019 22:11        0
4  Beyond Flavours                Dileep  ...  5/24/2019 21:37        0

[5 rows x 7 columns]

###**Data Cleaning and Preprocessing**

In [275]:
#restaurnts info - null count and dtypes 
rest_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         105 non-null    object
 1   Links        105 non-null    object
 2   Cost         105 non-null    object
 3   Collections  51 non-null     object
 4   Cuisines     105 non-null    object
 5   Timings      104 non-null    object
dtypes: object(6)
memory usage: 5.0+ KB

Around 50% of the data is missing in the categorical column "Collections", which are basically just tags given by zomato for better search results.
Even when imputed with various categorical data imputing measures, it would be pretty difficult to match similar tags as the restaurants and then even more difficult to then convert them into a meaningful numerical feature afterward.
If the information contained in the variable is not that high, it is better to drop the variable if it has 50% or more missing values.

In [276]:
#drop collections
rest_df.drop('Collections', axis=1, inplace=True)

In [277]:
#Impute one missing timing row with the mode
rest_df['Timings'].fillna(rest_df['Timings'].mode()[0],inplace=True)

In [278]:
#check nulls
rest_df.isnull().sum()

Name        0
Links       0
Cost        0
Cuisines    0
Timings     0
dtype: int64

In [279]:
# changing cost datatype
rest_df['Cost'] = rest_df['Cost'].str.replace(',','')
rest_df['Cost'] = rest_df['Cost'].astype('int')

In [280]:
#reviews info - null count and dtypes 
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Restaurant  10000 non-null  object
 1   Reviewer    9962 non-null   object
 2   Review      9955 non-null   object
 3   Rating      9962 non-null   object
 4   Metadata    9962 non-null   object
 5   Time        9962 non-null   object
 6   Pictures    10000 non-null  int64
dtypes: int64(1), object(6)
memory usage: 547.0+ KB

In [281]:
#exploring null rows in reviews column
reviews_df[reviews_df['Review'].isnull()]

               Restaurant                Reviewer  ...             Time Pictures
2360                 Amul        Lakshmi Narayana  ...  7/29/2018 18:00        0
5799         Being Hungry                   Surya  ...  7/19/2018 23:55        0
6449      Hyderabad Chefs          Madhurimanne97  ...  7/23/2018 16:29        0
6489      Hyderabad Chefs                  Harsha  ...   7/8/2018 21:19        0
7954         Olive Garden  ARUGULLA PRAVEEN KUMAR  ...   8/9/2018 23:25        0
8228   Al Saba Restaurant                  Suresh  ...  7/20/2018 22:42        0
8777  American Wild Wings                     NaN  ...              NaN        0
8778  American Wild Wings                     NaN  ...              NaN        0
8779  American Wild Wings                     NaN  ...              NaN        0
8780  American Wild Wings                     NaN  ...              NaN        0
8781  American Wild Wings                     NaN  ...              NaN        0
8782  American Wild Wings                     NaN  ...              NaN        0
8783  American Wild Wings                     NaN  ...              NaN        0
8784  American Wild Wings                     NaN  ...              NaN        0
8785  American Wild Wings                     NaN  ...              NaN        0
8786  American Wild Wings                     NaN  ...              NaN        0
8787  American Wild Wings                     NaN  ...              NaN        0
8788  American Wild Wings                     NaN  ...              NaN        0
8789  American Wild Wings                     NaN  ...              NaN        0
8790  American Wild Wings                     NaN  ...              NaN        0
8791  American Wild Wings                     NaN  ...              NaN        0
8792  American Wild Wings                     NaN  ...              NaN        0
8793  American Wild Wings                     NaN  ...              NaN        0
8794  American Wild Wings                     NaN  ...              NaN        0
8795  American Wild Wings                     NaN  ...              NaN        0
8796  American Wild Wings                     NaN  ...              NaN        0
8797  American Wild Wings                     NaN  ...              NaN        0
8798  American Wild Wings                     NaN  ...              NaN        0
8799  American Wild Wings                     NaN  ...              NaN        0
8844       Domino's Pizza             Sayan Gupta  ...   8/9/2018 21:41        0
9085         Arena Eleven                     NaN  ...              NaN        0
9086         Arena Eleven                     NaN  ...              NaN        0
9087         Arena Eleven                     NaN  ...              NaN        0
9088         Arena Eleven                     NaN  ...              NaN        0
9089         Arena Eleven                     NaN  ...              NaN        0
9090         Arena Eleven                     NaN  ...              NaN        0
9091         Arena Eleven                     NaN  ...              NaN        0
9092         Arena Eleven                     NaN  ...              NaN        0
9093         Arena Eleven                     NaN  ...              NaN        0
9094         Arena Eleven                     NaN  ...              NaN        0
9095         Arena Eleven                     NaN  ...              NaN        0
9096         Arena Eleven                     NaN  ...              NaN        0
9097         Arena Eleven                     NaN  ...              NaN        0
9098         Arena Eleven                     NaN  ...              NaN        0
9099         Arena Eleven                     NaN  ...              NaN        0

[45 rows x 7 columns]

The "Review" column has text that needs to be analyzed to understand the sentiments and without it, the analysis cannot be done. It can also be seen that most of the null values in the review column also have nulls in other corresponding columns such as Reviewer, Rating, Metadata, and Time. These instances should be dropped.

In [282]:
#dropping null rows in reviews first
reviews_df.dropna(subset = ["Review"], inplace=True)

In [283]:
# checking
reviews_df.isnull().sum()

Restaurant    0
Reviewer      0
Review        0
Rating        0
Metadata      0
Time          0
Pictures      0
dtype: int64

In [284]:
#rating is in object type
reviews_df['Rating'].unique()

array(['5', '4', '1', '3', '2', '3.5', '4.5', '2.5', '1.5', 'Like'],
      dtype=object)

In [285]:
#like should not be here
# correcting and changing the datatype
reviews_df['Rating'] = reviews_df['Rating'].replace('Like','4')
reviews_df['Rating'] = reviews_df['Rating'].astype('float')

In [286]:
#let's drop time as it would not be required
reviews_df.drop(['Time'],axis=1,inplace=True)

###**Feature Engineering**

Feature engineering is the process of selecting, manipulating, and transforming raw data into meaningful numerical features that can be used by machine learning algorithms. 




####**Zomato Restaurant names and Metadata**

First, the restaurants dataset has columns such as Links, Cuisine, and Timings which aren't directly interpretable.
The location of the restaurant can be extracted by the Links column.
Cuisines can be clubbed and categorized into a few categories and a total number of cuisines served by a particular restaurant.
Timings can be categorized into three categories to make analysis a little simpler.

**Links**

In [287]:
# link value
rest_df.loc[0,'Links']

'https://www.zomato.com/hyderabad/beyond-flavours-gachibowli'

In [288]:
#function to extract location of the restaurant
def location(link):
  link_elements = link.split("/")
  return link_elements[3]

#create a location feature
rest_df['Location'] = rest_df['Links'].apply(location)

In [289]:
# looks like the dataset consists of the restaurants in Hyderabad
rest_df['Location'].unique()

array(['hyderabad', 'thetiltbarrepublic'], dtype=object)

In [290]:
# exploring the other value
rest_df[rest_df.isin(['thetiltbarrepublic'])].stack()

68  Location    thetiltbarrepublic
dtype: object

In [291]:
#doesnt have location
rest_df.loc[68,:]

Name                            The Tilt Bar Republic
Links       https://www.zomato.com/thetiltbarrepublic
Cost                                             1500
Cuisines           North Indian, Continental, Italian
Timings                12noon to 12midnight (Mon-Sun)
Location                           thetiltbarrepublic
Name: 68, dtype: object

In [292]:
#dropping unnecessary columns
rest_df.drop(['Links','Location'],axis=1,inplace=True)

**Cuisines**

Here, it can be seen that the various cuisines served by every restaurant are in the form of strings and it's important to categorize and create dummy variables for all the cuisines served.
The procedure followed in doing this is as follows:
* First, strings are split to get the cuisines in the list datatype.
* A frequency dictionary is created to understand the unique cuisines and the frequency in which the cuisine occurs.
* An attempt is made to the club and categorize various misspelled cuisines and get a minimized number of unique cuisines.
* Next, we need these cuisines in the one-hot encoded form. To get these a data frame is created with the unique cuisines as columns and if a particular restaurant has this cuisine available we get a positive.

In [293]:
#splitting to create list instead of strings
rest_df['Cuisines'] = rest_df['Cuisines'].apply(lambda x : x.split(','))

#creating a list of all cuisine lists for different restaurants
cuisine_list = []
for idx in rest_df.index:
  cuisine_list.append(rest_df['Cuisines'][idx])

#creating a flat list
cuisine_list = [item for sublist in cuisine_list for item in sublist]

In [294]:
#frequency dict
frequency_dict = {}
for elem in cuisine_list:
  if elem not in frequency_dict.keys():
    frequency_dict[elem] = cuisine_list.count(elem)
  else:
    pass

#frequency dictionary
frequency_dict

{' American': 2,
 ' Andhra': 3,
 ' Arabian': 1,
 ' Asian': 10,
 ' BBQ': 1,
 ' Bakery': 1,
 ' Beverages': 5,
 ' Biryani': 12,
 ' Burger': 3,
 ' Cafe': 1,
 ' Chinese': 36,
 ' Continental': 17,
 ' Desserts': 11,
 ' European': 2,
 ' Fast Food': 10,
 ' Finger Food': 1,
 ' Goan': 1,
 ' Hyderabadi': 3,
 ' Indonesian': 1,
 ' Italian': 12,
 ' Japanese': 2,
 ' Juices': 1,
 ' Kebab': 5,
 ' Malaysian': 1,
 ' Mediterranean': 4,
 ' Mithai': 1,
 ' Modern Indian': 1,
 ' Momos': 3,
 ' Mughlai': 5,
 ' North Indian': 28,
 ' Pizza': 1,
 ' Salad': 5,
 ' Seafood': 3,
 ' South Indian': 7,
 ' Spanish': 1,
 ' Sushi': 4,
 ' Thai': 2,
 ' Wraps': 1,
 'American': 4,
 'Andhra': 3,
 'Arabian': 1,
 'Asian': 5,
 'BBQ': 1,
 'Bakery': 6,
 'Biryani': 4,
 'Burger': 2,
 'Cafe': 5,
 'Chinese': 7,
 'Continental': 4,
 'Desserts': 2,
 'European': 2,
 'Fast Food': 5,
 'Finger Food': 1,
 'Healthy Food': 1,
 'Hyderabadi': 1,
 'Ice Cream': 2,
 'Italian': 2,
 'Kebab': 1,
 'Lebanese': 1,
 'Mediterranean': 1,
 'Mexican': 1,
 'Modern Indian': 1,
 'Momos': 1,
 'Mughlai': 1,
 'North Eastern': 1,
 'North Indian': 33,
 'Seafood': 1,
 'South Indian': 2,
 'Street Food': 2,
 'Thai': 1}

It is observable that many of the cuisines are misspelled in terms of an extra space added at the beginning of the string. For example, there are two categories for North Indian food - 'North Indian' and ' North Indian'.

Another point to note is there are various unnecessary categories made. For example, there are 'Chinese' and ' Momos' both in the dataset as different cuisines. Let's try to club and correct them.

In [295]:
#minimising the number of cuisines by sorting and categorizing them out
cuisine_dict = {'Chinese':['Chinese',' Chinese','Momos',' Momos'],'North Indian':['North Indian',' North Indian',' BBQ','BBQ',' Biryani','Biryani','Kebab',' Kebab'],'Continental':['Continental',' Continental',' American','American'' BBQ','BBQ','Burger',' Burger','Finger Food',' Finger Food', ' Juices',' Pizza',' Salad',' Wraps'],
                'Andhra':['Andhra',' Andhra'],'Arabian':['Arabian',' Arabian'],'Asian': ['Asian',' Asian'],'Bakery':['Bakery',' Bakery'],
                'Beverages':['Beverages',' Beverages'],'Cafe':['Cafe',' Cafe'],'Desserts':['Desserts',' Desserts',' Mithai','Ice Cream'],
                'European':['European',' European',' Spanish'],'Fast Food':['Fast Food',' Fast Food','Burger',' Burger'],'Goan':[' Goan',' Goan'],
                'Hyderabadi':['Hyderabadi',' Hyderabadi',' Biryani','Biryani'],'Indonesian':['Indonesian',' Indonesian'],'Italian':['Italian',' Italian',' Pizza'],
                'Japanese':['Japanese',' Japanese',' Sushi'],'Malaysian':[' Malaysian'],'Mediterranean':['Mediterranean',' Mediterranean'],
                'Modern Indian':['Modern Indian',' Modern Indian',' Salad'],'Mughlai':['Mughlai',' Mughlai',' BBQ','BBQ','Kebab',' Kebab'],
                'Seafood':['Seafood',' Seafood'],'South Indian':['South Indian',' South Indian'],
                'Thai':['Thai',' Thai'],'Healthy Food':['Healthy Food'],'Lebanese':['Lebanese'],'Mexican':['Mexican'],'North Eastern':['North Eastern'],
                'Street Food':['Street Food']}

In [296]:
# just in case 
names_df = rest_df.copy()

In [297]:
#the function returns a list of error free and mapped cuisines according to the dictionary created
def cuisine_corrector(cuisine):
  list1 = []
  # for every cuisine in the list of a particular row
  for elem in cuisine:
    # and for every key value in the dict
    for key,value in cuisine_dict.items():
      # if cuisine is correct and matches with one of the unique keys we append to the list and break
      if elem == key:
        list1.append(key)
        break
      # next if the other elem doesnot match if search and value and append the key for that value
      if elem in value:
        list1.append(key)
      
  return list(set(list1)) # returns a unique cuisines list

In [298]:
#correcting and getting the desired lists as row values for cuisines column
names_df['Cuisines'] = names_df['Cuisines'].apply(cuisine_corrector)

In [299]:
#check
names_df.head(3)

              Name  ...                                        Timings
0  Beyond Flavours  ...  12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)
1         Paradise  ...                                 11 AM to 11 PM
2         Flechazo  ...          11:30 AM to 4:30 PM, 6:30 PM to 11 PM

[3 rows x 4 columns]

The next step is to create column features for the unique cuisines and assign values according to the row values available.

In [300]:
# concatenate new columns with the dataset
names_df = pd.concat([names_df,pd.DataFrame(columns=list(cuisine_dict.keys()))])

In [301]:
#check
names_df.head(2)

              Name   Cost  ... North Eastern Street Food
0  Beyond Flavours  800.0  ...           NaN         NaN
1         Paradise  800.0  ...           NaN         NaN

[2 rows x 33 columns]

In [302]:
# iterating for every row in the dataframe
for i, row in names_df.iterrows():
  # and for every row we iterate over the new columns only
  for column in list(names_df.columns):
      if column not in ['Name','Cost','Cuisines','Timings']:
        # and check if the column is in the list of cuisines available for that row
        if column in row['Cuisines']:
          #then assign it as 1 else 0
          names_df.loc[i,column] = 1
        else:
          names_df.loc[i,column] = 0

In [303]:
#let's check
names_df.head(2)

              Name   Cost  ... North Eastern Street Food
0  Beyond Flavours  800.0  ...             0           0
1         Paradise  800.0  ...             0           0

[2 rows x 33 columns]

In [304]:
# value for 1st restaurant and verifying 
names_df.loc[0,'Cuisines']

['Mughlai',
 'South Indian',
 'Continental',
 'Chinese',
 'European',
 'North Indian']

In [305]:
#creating a new column for the total number of cusines served by restaurants
names_df['Total Cuisines'] = names_df['Cuisines'].apply(lambda x : len(x))

In [306]:
#check
names_df.head(1)

              Name   Cost  ... Street Food Total Cuisines
0  Beyond Flavours  800.0  ...           0              6

[1 rows x 34 columns]

In [307]:
#drop cuisines column
names_df.drop(['Cuisines'],axis=1,inplace=True)

**Timings**

In [308]:
#analyse the unique values in Timings
names_df['Timings'].unique()

array(['12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)', '11 AM to 11 PM',
       '11:30 AM to 4:30 PM, 6:30 PM to 11 PM', '12 Noon to 2 AM',
       '12noon to 11pm (Mon, Tue, Wed, Thu, Sun), 12noon to 12midnight (Fri-Sat)',
       '12Noon to 3:30PM, 4PM to 6:30PM, 7PM to 11:30PM (Mon, Tue, Wed, Thu, Sun), 12Noon to 3:30PM, 4PM to 6:30PM, 7PM to 12Midnight (Fri-Sat)',
       '7 AM to 10 PM', '12 Noon to 12 Midnight',
       '10 AM to 1 AM (Mon-Thu), 10 AM to 1:30 AM (Fri-Sun)',
       '12 Noon to 3:30 PM, 7 PM to 10:30 PM',
       '12 Noon to 3:30 PM, 6:30 PM to 11:30 PM', '11:30 AM to 1 AM',
       '12noon to 12midnight (Mon-Sun)',
       '12 Noon to 4:30 PM, 6:30 PM to 11:30 PM', '12 Noon to 10:30 PM',
       '12 Noon to 11 PM', '12:30 PM to 10 PM (Tue-Sun), Mon Closed',
       '11:30 AM to 3 PM, 7 PM to 11 PM',
       '11am to 11:30pm (Mon, Tue, Wed, Thu, Sun), 11am to 12midnight (Fri-Sat)',
       '10 AM to 5 AM',
       '12 Noon to 12 Midnight (Mon-Thu, Sun), 12 Noon to 1 AM (Fri-Sat)',
       '12Noon to 11PM (Mon-Thu),12Noon to 11:30PM (Fri-Sun)',
       '12 Noon to 11:30 PM (Mon-Wed), 12 Noon to 1 AM (Fri-Sat), 12 Noon to 12 Midnight (Sun), Thu Closed',
       '12 Noon to 4 PM, 6:30 PM to 11:30 PM', '10 AM to 1 AM',
       '4:30 PM to 5:30 AM', '11 AM to 12 Midnight',
       '12noon to 4pm, 7pm to 12midnight (Mon-Sun)',
       '6am to 12midnight (Mon-Sun)',
       '12:30 PM to 3:30 PM, 7 PM to 10:40 PM',
       '12 Noon to 4 PM, 7 PM to 11 PM', '12noon to 11pm (Mon-Sun)',
       '10 AM to 10 PM', '7 AM to 1 AM', '12 Noon to 11:30 PM',
       '12Noon to 11:30PM (Mon-Sun)', '6 AM to 10:30 PM',
       '11:30 AM to 3:30 PM, 6:45 PM to 11:30 PM',
       '11:55 AM to 4 PM, 7 PM to 11:15 PM',
       '12noon to 4:30pm, 6:30pm to 11:30pm (Mon, Tue, Wed, Fri, Sat), Closed (Thu),12noon to 12midnight (Sun)',
       '12noon to 12midnight (Mon, Tue, Wed, Thu, Sun), 12noon to 1am (Fri-Sat)',
       '8 AM to 11:30 PM',
       '6:30am to 10:30am, 12:30pm to 3pm, 7pm to 11pm (Mon),6:30am to 10:30am, 12:30pm to 3pm, 7:30pm to 11pm (Tue-Sat),6:30am to 10:30am, 12:30pm to 3:30pm, 7pm to 11pm (Sun)',
       '12 Noon to 3 PM, 7 PM to 11:30 PM', '9 AM to 10 PM',
       '5pm to 12midnight (Mon-Sun)', '11 AM to 11:30 PM',
       '11:30AM to 11PM (Mon-Sun)', '1 PM to 11 PM',
       '11:30 AM to 12 Midnight', '12 Noon to 3 PM, 7 PM to 11 PM',
       '11 AM to 8 PM (Mon-Sat), Sun Closed', '4 AM to 12 Midnight',
       '9 AM to 1 AM', '10:30 AM to 11 PM', '7 AM to 11 PM',
       '7 AM to 10:30 AM, 12:30 PM to 3:30 PM, 7 PM to 11 PM',
       '12 Noon to 3:30 PM, 7 PM to 11:30 PM',
       '12 Noon to 3:30 PM, 7 PM to 11 PM', '11am to 11pm (Mon-Sun)',
       '6 AM to 11:30 PM', '11:30 AM to 5 AM',
       '12:30 PM to 3:30 PM, 7 PM to 11 PM', '6pm to 2am (Mon-Sun)',
       '10 AM to 12 Midnight', '12 Noon to 4 AM', '1 PM to 1 AM',
       '24 Hours', '24 Hours (Mon-Sun)',
       '11:30 AM to 4 PM, 7 PM to 11 PM', '10 AM to 11 PM',
       '1 PM to 2 AM (Mon, Wed-Sun), Tue Closed',
       '12:30pm to 11:30pm (Mon-Sun)', '12Noon to 2AM (Mon-Sun)',
       '10 AM to 10 PM (Mon-Thu), 8 AM to 10:30 PM (Fri-Sun)',
       '8am to 12:30AM (Mon-Sun)',
       '11:30 AM to 3 PM, 7 PM to 12 Midnight'], dtype=object)

In [309]:
#drop timings
names_df.drop(['Timings'],axis=1,inplace=True)

Upon analyzing the unique values in the timings columns, it can be concluded that the restaurants are more or less open at the same timings and don't really provide a considerable variation in order to cluster the restaurants.

**Restaurant Average Ratings**

In [310]:
# groupby restaurant and ratings to get average ratings
restaurant_ratings = reviews_df.groupby('Restaurant')['Rating'].mean().reset_index()
restaurant_ratings.rename(columns={'Restaurant':'Name'},inplace=True)
#sort restaurants according to ratings and getting top 5 restaurants
restaurant_ratings.sort_values(by='Rating',ascending = False).head()

                              Name  Rating
3        AB's - Absolute Barbecues    4.88
11                          B-Dubs    4.81
2   3B's - Buddies, Bar & Barbecue    4.76
67                        Paradise    4.70
35                        Flechazo    4.66

In [311]:
#adding an average rating feature in restaurant names and metadata dataframe
names_df = names_df.merge(restaurant_ratings,on='Name')
names_df.rename(columns={'Rating':'Avg Rating'},inplace=True)
names_df.head(1)

              Name   Cost Chinese  ... Street Food Total Cuisines Avg Rating
0  Beyond Flavours  800.0       1  ...           0              6       4.28

[1 rows x 33 columns]

####**Zomato Restaurant Reviews**

In [312]:
#head
reviews_df.head(1)

        Restaurant           Reviewer  ...                Metadata  Pictures
0  Beyond Flavours  Rusha Chakraborty  ...  1 Review , 2 Followers         0

[1 rows x 6 columns]

In [313]:
# splitting meta data into reviews and followers seperately
reviews_df['Reviews'], reviews_df['Followers'] = reviews_df['Metadata'].str.split(',').str
reviews_df['Reviews'] = pd.to_numeric(reviews_df['Reviews'].str.split(' ').str[0])
reviews_df['Followers'] = pd.to_numeric(reviews_df['Followers'].str.split(' ').str[1])

reviews_df.head(1)

        Restaurant           Reviewer  ... Reviews  Followers
0  Beyond Flavours  Rusha Chakraborty  ...       1        2.0

[1 rows x 8 columns]

In [314]:
#drop Metadata
reviews_df.drop(['Metadata'],axis=1,inplace=True)

In [319]:
#create a seperate detaframe for reviewers and their activity
reviewers_df = reviews_df.groupby(['Reviewer','Reviews','Followers'])['Rating'].mean().reset_index()
reviewers_df.sort_values(by=['Reviews','Followers','Rating'],ascending=[False,False,True],inplace=True,ignore_index=True)

#sorting out the crtics of the industry, these are the people with most reviews written and most followers who have given low rating on an avg
reviewers_df.head(3)

          Reviewer  Reviews  Followers    Rating
0  Anvesh Chowdary     1031     1654.0  3.333333
1     ᴀɴ.ᴏᴛʜᴇʀ.sᴇɴ      685      794.0  2.000000
2           Abc098      665     2275.0  3.000000

###Exploratory Data Analysis